<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<!-- include the header file -->
<%- include partials/header.ejs %>
    <%- include partials/main_nav.ejs %>
        <!-- Design for about me page-->

        <body>
            <div class="jumbotron">
                <div style="display:flex; margin-top: 20px; width:fit-content;">
                    <div>
                        <img src="/assets/images/profile1.jpeg" name="profile" width="300px" height="300px">
                    </div>
                    <div style="margin-left: 30px">
                        <P style="font-size: 20px"> Being a Full Stack developer, i have worked on several projects
                            which have provided good hands on experience on several technologies such as PHP, Python,
                            Laravel and Django.<br>

                            For now, 100+ customers who are getting their satisfied service and features while joined
                            with me which raised up my confidence and success.</P>
                    </div>

                </div>
                <div>
                    <a href="https://online.flippingbook.com/view/308161526/">
                        Resume Link</a>
                </div>
            </div>
        </body>
        <!-- include the footer file-->
        <%- include partials/bottom_nav.ejs %>
            <%- include partials/footer.ejs %>

</html>