<%- include partials/header.ejs %>
  <%- include partials/main_nav.ejs %>


    <!-- Main Content -->
    <!-- <main class="container"> -->
    <!-- <div class="jumbotron">
      <h1>Introduction</h1>
      <p class="display-4" style="font-size: 20px">I am Parita Shah. Welcome to my blog.In this blog I have mention the different types of project which I have done and also the services which I am being using in that particular project.</p>
      
    </div>
    <div class="jumbotron">
      <h1>Mission</h1>
      <p class="display-4" style="font-size: 20px">I am Parita Shah. Welcome to my blog.In this blog I have mention the different types of project which I have done and also the services which I am being using in that particular project.</p>
      
    </div> -->
    <div class="p-5 text-center" style="
      background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');width: 100%;height: max-content;">
      <div class="jumbotron">
        <h1>Introduction</h1>
        <p class="display-4" style="font-size: 20px">I am Maulik Koladiya, who associated with IT organization since
          last 3 years as FULL STACK DEVELOPER. I glad to sync with my clients and provide the best service to them
          which inbuild the trust, idea and Innovation in life</p>

      </div>
      <div class="jumbotron">
        <h1>Mission</h1>
        <p class="display-4" style="font-size: 20px">While delivering the products to the clients, it provides immense
          happiness to me. Therefore, getting this feeling for plenty of times in life, that is my ultimately goal</p>

      </div>
    </div>
    <!-- </main> -->

    <%- include partials/bottom_nav.ejs %>

      <%- include partials/footer.ejs %>